<div class="card m-3">
  <div class="card-header">
    <h2 class="card-title">Flight Search</h2>
  </div>
  <div class="card-body">
    <form class="d-flex flex-column gap-3">
      <div class="form-group">
        <label for="from" class="text-muted">Departure</label>
        <input
          [(ngModel)]="from"
          type="text"
          name="from"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="to" class="text-muted">Arrival</label>
        <input [(ngModel)]="to" type="text" name="to" class="form-control" />
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary"
          [disabled]="!from || !to"
          (click)="search()"
        >
          Search
        </button>
      </div>
    </form>
  </div>
</div>
