<div
  class="
    navbar-container
    d-flex
    align-items-center
    text-light
    w-100
    border-bottom
  "
>
  <ul ngbNav [activeId]="route.url | async">
    <li [ngbNavItem]="route.route" *ngFor="let route of routes">
      <a
        ngbNavLink
        [routerLink]="route.route"
        [ngClass]="route.type === 'logo' ? 'logo' : ''"
        >{{ route.title }}</a
      >
    </li>
  </ul>
</div>
