<div class="sidebar-wrapper d-flex flex-column">
  <div class="logo d-flex flex-row align-items-center mx-2 border-bottom">
    <div class="logo-img">
      <img src="../../assets/img/logo.png" alt="logo" />
    </div>
    <h2 class="mx-2 p-0 my-0">PlaneTixx</h2>
  </div>
  <ul class="nav d-flex flex-column mt-3">
    <li class="nav-item">
      <a href="home" class="nav-link d-flex flex-row">
        <fa-icon [icon]="faHome" class="mx-2"></fa-icon>
        <p>Home</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="flight-booking/flight-search" class="nav-link d-flex flex-row">
        <fa-icon [icon]="faPlane" class="mx-2"></fa-icon>
        <p>Flights</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a
        [routerLink]="[{ outlets: { aux: 'basket' } }]"
        class="nav-link d-flex flex-row"
      >
        <fa-icon [icon]="faCart" class="mx-2"></fa-icon>
        <p>Cart</p>
      </a>
    </li>
  </ul>
</div>
