<div class="wrapper d-flex">
  <div class="sidebar d-flex flex-column bg-white">
    <nx-poc-sidebar></nx-poc-sidebar>
  </div>
  <div class="main-panel d-flex flex-column w-100 vh-100">
    <nx-poc-navbar></nx-poc-navbar>
    <div class="content">
      <router-outlet></router-outlet>
      <router-outlet name="aux"></router-outlet>
    </div>
  </div>
</div>
